/* The more I learn about HTML, CSS, Javasript and more, I will be updating this site to make it look its best. This site isnt just a personal project, its my learning guide. Its not pretty, or complete (haha), but soon it will become a beautiful website and accessible to all.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kalnia+Glaze:wght@100..700&display=swap");

body {
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin: 0;
  padding: 0;
  background-color: #ebd0f2;
}

header {
    border-bottom: solid #9f53a0 10px;
}

a {
    text-decoration: none;
}


ul li {
    list-style-type: none;
    font-size: 1.2rem
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav a {
    color: black;
    background-color: #d99cd9;
    padding: 1rem;
    border-radius: 10rem;
}

a:hover {
    color: white;
    
}


nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
    
}


p {
  border-radius: 10px;
  background-color: #d99cd9;
  margin: 2rem 5rem 2rem 5rem; 
  padding: 2rem;
  
}

.logo img {
    max-width: 40%;
}

.about-section {
    display: flex;
    flex-flow: row wrap;
}


