/* The more I learn about HTML, CSS, Javasript and more, I will be updating this site to make it look its best. This site isnt just a personal project, its my learning guide. Its not pretty, or complete (haha), but soon it will become a beautiful website and accessible to all.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Kalnia+Glaze:wght@100..700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: "DM Serif Display", serif;
  margin: 0;
  padding: 6rem;
  background-color: #ebd0f2;
}

header {
    border-bottom: solid #9f53a0 10px;
}

a {
    text-decoration: none;
}


ul li {
    list-style-type: none;
    font-size: 1.2rem
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav a {
    color: black;
    background-color: #d99cd9;
    padding: 1rem;
    border-radius: 10rem;
    border:white solid 4px;
    outline: #9f53a0  solid 4px;
}

a:hover {
    color: white;
    
}


nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 2rem;
    
}

.button {
    color: black;
    background-color: #EBD0F2;
    border: #9f53a0 solid;
    padding: 1rem;
    border-radius: 10rem;
    font-family: "DM Serif Display";
    margin: 2rem 0;
}

.button:hover {
    color: white;
}

.button:active {
    color: #9f53a0;
}

.divpara {
    border-radius: 10px;
    padding: 2rem;
}


.logo img {
    max-width: 40%;
}


.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card {
    border:white solid 4px;
    outline: #9f53a0  solid 4px;
    border-radius: 10px;
    background-color: #d99cd9;
    padding: 2rem;
    margin: 2.2rem;
}

.card p {
    background-color: #ebd0f2;
}

iframe {
    border-radius: 10px;
    width: 100%;
}

#about-kendrick {
    background-color:#d99cd9;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 3rem;
    width: 100%;
    border:white solid 4px;
    outline: #9f53a0  solid 4px;
} 

#about-section {
    max-width: 50%;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.carousel-slides {
    position: relative;
}

.carousel-slide {
    display: none;
    margin: 0;
}

.carousel-slide.active {
    display: block;
}

.carousel-slide img {
    width: 100%;
    max-height: 650px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 12px;
}

.carousel-slide figcaption {
    text-align: center;
    margin-top: 0.75rem;
}

.carousel-button {
    color: black;
    background-color: #EBD0F2;
    padding: 0.8rem;
    margin: 0.4rem;
    font-size: 3rem;
    max-width: 5rem;
    max-height: 5rem;
    line-height: 15px;
    background-color: #EBD0F2;
    border: #9f53a0 solid;
    border-radius: 10rem;
    padding: 1rem;
    
}

.carousel-button:hover {
    color: white;
}

.carousel-button:active {
    color:#9f53a0
}





@media (min-width:650px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .about-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .about-section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}